body{
    font-family: 'Roboto', sans-serif;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 35px;
}
.yellow-color{
    color: yellow;
}
section{
    display: flex;
}
.half-width{
    width: 100%;
    padding-left: 10%;
}
.half-width img{
    width: 75%;
    padding-top: 30px;   
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(rgb(255, 255, 0),yellowgreen,yellow);
    padding: 10px 40px;
    color: rgb(0, 68, 0);
    font-weight: 900;
    border-radius: 8px;
}
